<%- include('partials/header') %>
    <main id="main">

        <section class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="/">Home</a></li>
                    <li>About</li>
                </ol>
                <h2>About</h2>

            </div>
        </section>

        <section id="tabs" class="tabs">
            <div class="container" data-aos="fade-up">
                <div class="tab-content">
                    <div class="row align-items-center">
                        <div class="col-lg-6 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                            <h3 class="tab-header">About Us</h3>
                            <p class="tab-para">
                                Quient training is an enthusiastic group intended to train students in colleges that are denied the privilege of Placement training, A group of Enthusiasts now have a vision of training students that don’t have access to placement training that can help
                                them get placed, and thereby build their future.
                            </p>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                            <img src="assets/img/graduation1.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="counts" class="counts">
            <div class="container" data-aos="fade-up">

                <div class="row justify-content-center">

                    <div class="col-lg-4 col-md-6">
                        <div class="count-box">
                            <i class="bi bi-person-plus"></i>
                            <span data-purecounter-start="0" data-purecounter-end="1000" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Students Trained</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                        <div class="count-box">
                            <i class="bi bi-building"></i>
                            <span data-purecounter-start="0" data-purecounter-end="110" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Colleges</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
                        <div class="count-box">
                            <i class="bi bi-book"></i>
                            <span data-purecounter-start="0" data-purecounter-end="51" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Faculties</p>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <section id="trainings" class="trainings">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Our Training Activities</h2>
                </div>

                <ul class="faq-list accordion" data-aos="fade-up">
                    <li>
                        Create awareness about “career planning" and "career mapping" among the students.
                    </li>
                    <li>
                        Equip the student with life skills.
                    </li>

                    <li>
                        Train the students on “Personality development".

                    </li>
                    <li>
                        Organize Various Training Programmes to train the students in the areas of Quantitative Aptitude, Logical Reasoning and Verbal reasoning through the reputed external training organizations and in-house trainers.

                    </li>
                    <li>
                        Train the students through Mock Interviews to perform well in the professional interviews as per the expectations of the corporate world.

                    </li>
                    <li>
                        Train the students on group discussion techniques

                    </li>
                    <li>
                        Conduct online tests and written aptitude tests.
                    </li>
                </ul>
            </div>
        </section>

        <%- include('partials/footer') %>