<%- include('partials/header') %>
    <section class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="/">Home</a></li>
                <li>Gallery</li>
            </ol>
            <h2>Gallery</h2>

        </div>
    </section>

    <section id="gallery" class="gallery">
        <div class="container" data-aos="fade-up">

            <div class="row justify-content-center gallery-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 gallery-item">
                    <div class="gallery-wrap">
                        <img src="assets/img/gallery/gallery (1).jpeg" class="img-fluid" alt="">
                        <div class="gallery-info">
                            <h4>Title</h4>
                            <p>Some other text here</p>
                            <div class="gallery-links">
                                <a href="assets/img/gallery/gallery (1).jpeg" data-gallery="galleryGallery" class="gallery-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 gallery-item">
                    <div class="gallery-wrap">
                        <img src="assets/img/gallery/gallery (1).jpg" class="img-fluid" alt="">
                        <div class="gallery-info">
                            <h4>Title</h4>
                            <p>Some other text here</p>
                            <div class="gallery-links">
                                <a href="assets/img/gallery/gallery (1).jpg" data-gallery="galleryGallery" class="gallery-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 gallery-item">
                    <div class="gallery-wrap">
                        <img src="assets/img/gallery/gallery (1).png" class="img-fluid" alt="">
                        <div class="gallery-info">
                            <h4>Title</h4>
                            <p>Some other text here</p>
                            <div class="gallery-links">
                                <a href="assets/img/gallery/gallery (1).png" data-gallery="galleryGallery" class="gallery-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 gallery-item">
                    <div class="gallery-wrap">
                        <img src="assets/img/gallery/gallery (2).jpg" class="img-fluid" alt="">
                        <div class="gallery-info">
                            <h4>Title</h4>
                            <p>Some other text here</p>
                            <div class="gallery-links">
                                <a href="assets/img/gallery/gallery (2).jpg" data-gallery="galleryGallery" class="gallery-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 gallery-item">
                    <div class="gallery-wrap">
                        <img src="assets/img/gallery/gallery (3).jpg" class="img-fluid" alt="">
                        <div class="gallery-info">
                            <h4>Title</h4>
                            <p>Some other text here</p>
                            <div class="gallery-links">
                                <a href="assets/img/gallery/gallery (3).jpg" data-gallery="galleryGallery" class="gallery-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 gallery-item">
                    <div class="gallery-wrap">
                        <img src="assets/img/gallery/gallery (4).jpg" class="img-fluid" alt="">
                        <div class="gallery-info">
                            <h4>Title</h4>
                            <p>Some other text here</p>
                            <div class="gallery-links">
                                <a href="assets/img/gallery/gallery (4).jpg" data-gallery="galleryGallery" class="gallery-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 gallery-item">
                    <div class="gallery-wrap">
                        <img src="assets/img/gallery/gallery (5).jpg" class="img-fluid" alt="">
                        <div class="gallery-info">
                            <h4>Title</h4>
                            <p>Some other text here</p>
                            <div class="gallery-links">
                                <a href="assets/img/gallery/gallery (5).jpg" data-gallery="galleryGallery" class="gallery-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 gallery-item">
                    <div class="gallery-wrap">
                        <img src="assets/img/gallery/gallery (6).jpg" class="img-fluid" alt="">
                        <div class="gallery-info">
                            <h4>Title</h4>
                            <p>Some other text here</p>
                            <div class="gallery-links">
                                <a href="assets/img/gallery/gallery (6).jpg" data-gallery="galleryGallery" class="gallery-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 gallery-item">
                    <div class="gallery-wrap">
                        <img src="assets/img/gallery/gallery (1).jpeg" class="img-fluid" alt="">
                        <div class="gallery-info">
                            <h4>Title</h4>
                            <p>Some other text here</p>
                            <div class="gallery-links">
                                <a href="assets/img/gallery/gallery (1).jpeg" data-gallery="galleryGallery" class="gallery-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section>

    <%- include('partials/footer') %>