<%- include('partials/header') %>

    <section id="hero" class="d-flex align-items-center">

        <div class="container" data-aos="zoom-out" data-aos-delay="100">
            <div class="row">
                <div class="col-xl-6">
                    <h1>A group of Enthusiasts now have a vision of training students.
                    </h1>
                    <a href="/contact" class="contact-button scrollto">Contact us</a>
                </div>
            </div>
        </div>

    </section>

    <main id="main">
        <section id="counts" class="counts">
            <div class="container" data-aos="fade-up">

                <div class="row justify-content-center">

                    <div class="col-lg-4 col-md-6">
                        <div class="count-box">
                            <i class="bi bi-person-plus"></i>
                            <span data-purecounter-start="0" data-purecounter-end="1000" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Students Trained</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                        <div class="count-box">
                            <i class="bi bi-building"></i>
                            <span data-purecounter-start="0" data-purecounter-end="110" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Colleges</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
                        <div class="count-box">
                            <i class="bi bi-book"></i>
                            <span data-purecounter-start="0" data-purecounter-end="51" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Faculties</p>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <section id="about" class="about section-bg">
            <div class="container" data-aos="fade-up">
                <div class="content align-self-center">
                    <div class="content">
                        <h3>Who Are We</h3>
                        <p>
                            Quient training is an enthusiastic group intended to train students in colleges that are denied the privilege of Placement training, A group of Enthusiasts now have a vision of training students that don’t have access to placement training that can help
                            them get placed, and thereby build their future.
                        </p>
                        <a href="/about" class="about-btn"><span>About us</span> <i class="bx bx-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container tabs" data-aos="fade-up">
                <div class="tab-content">
                    <div class="row align-items-center">
                        <div class="col-lg-6 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                            <h3 class="tab-header">Why is Placement training important</h3>
                            <p class="tab-para">
                                Placement training plays a major role in shaping up the career goals of students. It is the dream of every engineering student to get placed in a top organization visiting their campus for recruitment. Keeping this key aspect into consideration, it is
                                realized that training is important for engineering students to enhance their employability skills and achieve good placement in various Industries
                            </p>
                            <p class="tab-para">At present, the competition for employment is increasing every day and placement has become a challenging task. Training students and equipping them with life skills has become an important responsibility of the institution.
                                Along with technical expertise,the development of a holistic personality is also necessary.</p>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                            <img src="assets/img/graduation1.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Our Prime Objective</h2>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-briefcase"></i>
                            <h4>To look for 100% employment for all students.
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-briefcase"></i>
                            <h4>To recognize the core competencies of the students.
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-briefcase"></i>
                            <h4>To train the students to meet the expectations of the industry through our Career Development Programmes.
                            </h4>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-briefcase"></i>
                            <h4>To build conﬁdence in students and develop the right attitude in them
                            </h4>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-briefcase"></i>
                            <h4>To enhance their communication skills.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="trainings" class="trainings">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Our Training Activities</h2>
                </div>

                <ul class="faq-list accordion" data-aos="fade-up">
                    <li>
                        Create awareness about “career planning" and "career mapping" among the students.
                    </li>
                    <li>
                        Equip the student with life skills.
                    </li>

                    <li>
                        Train the students on “Personality development".

                    </li>
                    <li>
                        Organize Various Training Programmes to train the students in the areas of Quantitative Aptitude, Logical Reasoning and Verbal reasoning through the reputed external training organizations and in-house trainers.

                    </li>
                    <li>
                        Train the students through Mock Interviews to perform well in the professional interviews as per the expectations of the corporate world.

                    </li>
                    <li>
                        Train the students on group discussion techniques

                    </li>
                    <li>
                        Conduct online tests and written aptitude tests.
                    </li>
                </ul>
            </div>
        </section>

    </main>
    <%- include('partials/footer') %>