<%- include('partials/header') %>
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="/">Home</a></li>
                <li>Testimonials</li>
            </ol>
            <h2>Testimonials</h2>

        </div>
    </section>

    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">


                <div class="col-lg-6">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/professor.jpg" class="testimonial-img" alt="">
                        <h3>Professor</h3>
                        <h4>Student</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>When someone is in love, they looks through rose-tinted glasses. Everything's wonderful. They transform into a soft teddy bear that's smiling all the time.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/requel.jpg" class="testimonial-img" alt="">
                        <h3>Raquel</h3>
                        <h4>Student</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>Thieves are caught on the run, we need to rile 'em up a bit.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/tokyo.png" class="testimonial-img" alt="">
                        <h3>Tokyo</h3>
                        <h4>Student</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>Every moment could be your last one. And all that adrenaline makes you really feel alive. You don't wanna leave anything for later.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/nairobi.jpg" class="testimonial-img" alt="">
                        <h3>Nairobi</h3>
                        <h4>Student</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>There are moments in life we should just be able to have a damn remote control, so you could pause it.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/berlin.jpg" class="testimonial-img" alt="">
                        <h3>Berlin</h3>
                        <h4>Student</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>The things that are really important in life have a high price. Rebellion. Liberty. Ideals.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/denver.jpg" class="testimonial-img" alt="">
                        <h3>Denver</h3>
                        <h4>Student</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>Paradise is wonderful when your life is dull and full of traffic. As an escape every now and then.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <%- include('partials/footer') %>